<details class="border round">
  <summary class="none">
    <div
      (click)="changeRoundBorder($event)"
      class="padding tertiary-container round grid"
    >
      <div class="m l m5 l5 center-align">
        <p>{{ processo.materialDto.nome }}</p>
      </div>
      <div class="m l m3 l3 center-align">
        <p>{{ processo.materialDto.gramatura }} gramas</p>
      </div>
      <div class="m l m3 l3 center-align">
        <p>{{ processo.tipo }}</p>
      </div>
      <div class="m l m1 l1 center-align">
        <p>...</p>
      </div>
      <div class="s s6">
        <p>{{ processo.materialDto.nome }}</p>
      </div>
      <div class="s s6">
        <p>{{ processo.materialDto.gramatura }} gramas</p>
      </div>
      <div class="s s12">
        <p>{{ processo.tipo }}</p>
      </div>
    </div>
  </summary>
  <div class="padding surface bottom-round">
    <div class="grid" *ngIf="processo.tipo === 'corte'">
      <div class="m l m6 l6 padding">
        <p>Tapete: {{ processo.tapeteDto.cor }}</p>
        <p>Cor da Lâmina: {{ processo.laminaDto.cor }}</p>
        <p>Tecido: {{ processo.tecido }}</p>
      </div>
      <div class="m l m6 l6 padding">
        <p>Pressão ferramenta: {{ processo.pressaoFerramenta }}</p>
        <p>Profundidade da Lâmina: {{ processo.profundidadeLamina }}</p>
      </div>
    </div>
    <div class="grid" *ngIf="processo.tipo === 'desenho'">
      <div class="m l m6 l6 padding">
        <p>Tapete: {{ processo.tapeteDto.cor }}</p>
        <p>Espessura Caneta: {{ processo.canetaDto.espessura }} mm</p>
        <p>Tecido: {{ processo.tecido }}</p>
      </div>
      <div class="m l m6 l6 padding">
        <p>Pressão ferramenta: {{ processo.pressaoFerramenta }}</p>
      </div>
    </div>
  </div>
</details>
