<app-modal [novo]="novoProcesso">
  <app-novo-processo #novoProcesso></app-novo-processo>
</app-modal>
<h1 class="hide-on-small-only">Processos</h1>
<h2 class="center hide-on-med-and-up">Processos</h2>
<div class="row">
  <app-filtro-tipo-processo class="s12 m6 l6"></app-filtro-tipo-processo>
  <app-adicionar class="s12 m6 l6 right hide-on-small-only"
    >Novo Processo</app-adicionar
  >
</div>
<app-itens-processo></app-itens-processo>
<app-adicionar-floating class="hide-on-med-and-up"></app-adicionar-floating>
