<h4>Novo Processo</h4>

<form [formGroup]="formData">
  <div class="row">
    <div class="col s12 m6 l6">
      <h5>Base</h5>
      <div>
        <label for="material">Material: *</label>
        <div class="input-field col s12">
          <select
            name="material"
            id="material"
            class="browser-default"
            formControlName="materialSelecionado"
          >
            <option [value]="" disabled selected>Selecione um material</option>
            <option
              *ngFor="let material of materiais"
              [value]="material.codigo"
            >
              {{ material.nome }} - {{ material.gramatura }} gramas
            </option>
          </select>
        </div>
      </div>

      <div>
        <label for="tapete">Tapete: *</label>
        <div class="input-field col s12">
        <select
          name="tapete"
          id="tapete"
          class="browser-default"
          formControlName="tapeteSelecionado"
        >
          <option [value]="" disabled selected>Selecione um tapete</option>
          <option *ngFor="let tapete of tapetes" [value]="tapete.codigo">
            {{ tapete.cor }} - {{ tapete.forcaAderencia }}
          </option>
        </select>
        </div>
      </div>

      <div class="input-field col s12">
        <input
          id="pressao-ferramenta"
          type="number"
          formControlName="pressaoFerramenta"
        />
        <label for="pressao-ferramenta">Pressão Ferramenta: *</label>
      </div>
    </div>


    <div class="col s12 m6 l6">
      <h5>Processo</h5>
      <div id="tipo-processo">
        <label
          ><input
            type="radio"
            class="with-gap"
            value="Corte"
            formControlName="tipoProcesso"
          /><span>Corte</span></label
        >
        <label
          ><input
            type="radio"
            class="with-gap"
            value="Desenho"
            formControlName="tipoProcesso"
          /><span>Desenho</span></label
        >
      </div>

      <div *ngIf="formData.get('tipoProcesso')?.value === 'Corte'">
        <div class="col s12">
          <label for="tipo-lamina">Lâmina *</label>
          <div class="input-field col s12">
            <select
              name="tipo-lamina"
              id="tipo-lamina"
              formControlName="laminaSelecionado"
              class="browser-default"
            >
              <option [value]="" disabled selected>Selecione uma lâmina</option>
              <option *ngFor="let lamina of laminas" [value]="lamina.codigo">
                {{ lamina.cor }} - {{ lamina.tipoCorte }}
              </option>
            </select>
          </div>
        </div>
        <div class="input-field col s12">
          <input
            id="profundidade-lamina"
            type="number"
            formControlName="profundidadeLamina"
          />
          <label for="profundidade-lamina">Profundidade Lâmina: *</label>
        </div>
      </div>

      <div *ngIf="formData.get('tipoProcesso')?.value === 'Desenho'">
        <label for="tipo-caneta">Caneta</label>
        <div class="input-field col s12">
          <select
            name="tipo-caneta"
            id="tipo-caneta"
            formControlName="canetaSelecionada"
            class="browser-default"
          >
            <option [value]="" disabled selected>Selecione uma caneta *</option>
            <option *ngFor="let caneta of canetas" [value]="caneta.codigo">
              {{ caneta.espessura }}mm
            </option>
          </select>
        </div>
      </div>

      <div>
        <label>
          <input type="checkbox" formControlName="tecido" />
          <span>Tecido</span>
        </label>
      </div>
    </div>
  </div>
</form>
