<h4>Novo Processo</h4>

<form [formGroup]="formData">
  <div class="row">
    <div class="col s12 m6 l6">
      <h5>Base</h5>
      <div>
        <label for="material">Material: *</label>
        <div class="input-field col s12">
          <select
            id="material"
            name="material"
            class="browser-default"
            formControlName="materialSelecionado"
          >
            <option [ngValue]="null" disabled>Selecione um material</option>
            <option
              *ngFor="let material of materiais"
              [ngValue]="material"
            >
              {{ material.nome }} - {{ material.gramatura }} gramas
            </option>
          </select>
          <span
            class="red-text"
            *ngIf="
              this.formData.controls.materialSelecionado.errors?.required &&
              this.formData.controls.materialSelecionado.touched
            "
          >
            É obrigatório escolher um material
          </span>
        </div>
      </div>

      <div>
        <label for="tapete">Tapete: *</label>
        <div class="input-field col s12">
          <select
            name="tapete"
            id="tapete"
            class="browser-default"
            formControlName="tapeteSelecionado"
          >
            <option [ngValue]="null" disabled selected>
              Selecione um tapete
            </option>
            <option *ngFor="let tapete of tapetes" [ngValue]="tapete">
              {{ tapete.cor }} - {{ tapete.forcaAderencia }}
            </option>
          </select>
          <span
            class="red-text"
            *ngIf="
              this.formData.controls.tapeteSelecionado.errors?.required &&
              this.formData.controls.tapeteSelecionado.touched
            "
          >
            É obrigatório escolher um tapete
          </span>
        </div>
      </div>

      <div class="input-field col s12">
        <input
          id="pressao-ferramenta"
          type="number"
          formControlName="pressaoFerramenta"
        />
        <label for="pressao-ferramenta">Pressão Ferramenta: *</label>
      </div>
      <span
        class="red-text"
        *ngIf="
          this.formData.controls.pressaoFerramenta.errors?.required &&
          this.formData.controls.pressaoFerramenta.touched
        "
      >
        É obrigatório informar a pressão da ferramenta
      </span>
    </div>

    <div class="col s12 m6 l6">
      <h5>Processo</h5>
      <div id="tipo-processo">
        <label
          ><input
            type="radio"
            class="with-gap"
            value="Corte"
            formControlName="tipoProcesso"
          /><span>Corte</span></label
        >
        <label
          ><input
            type="radio"
            class="with-gap"
            value="Desenho"
            formControlName="tipoProcesso"
          /><span>Desenho</span></label
        >
      </div>

      <div *ngIf="formData.get('tipoProcesso')?.value === 'Corte'">
        <div class="col s12">
          <label for="tipo-lamina">Lâmina *</label>
          <div class="input-field col s12">
            <select
              name="tipo-lamina"
              id="tipo-lamina"
              formControlName="laminaSelecionado"
              class="browser-default"
            >
              <option [ngValue]="null" disabled selected>
                Selecione uma lâmina
              </option>
              <option *ngFor="let lamina of laminas" [ngValue]="lamina">
                {{ lamina.cor }} - {{ lamina.tipoCorte }}
              </option>
            </select>
            <span
              class="red-text"
              *ngIf="
                this.formData.controls.laminaSelecionado.errors?.required &&
                this.formData.controls.laminaSelecionado.touched
              "
            >
              É obrigatório escolher uma lâmina
            </span>
          </div>
        </div>
        <div class="input-field col s12">
          <input
            id="profundidade-lamina"
            type="number"
            formControlName="profundidadeLamina"
          />
          <label for="profundidade-lamina">Profundidade Lâmina: *</label>
        </div>
        <span
          class="red-text"
          *ngIf="
            this.formData.controls.profundidadeLamina.errors?.required &&
            this.formData.controls.profundidadeLamina.touched
          "
        >
          É obrigatório informar a profundidade da lâmina
        </span>
      </div>

      <div *ngIf="formData.get('tipoProcesso')?.value === 'Desenho'">
        <div class="col s12">
          <label for="tipo-caneta">Caneta *</label>
          <div class="input-field col s12">
            <select
              name="tipo-caneta"
              id="tipo-caneta"
              formControlName="canetaSelecionada"
              class="browser-default"
            >
              <option [ngValue]="null" disabled>Selecione uma caneta</option>
              <option *ngFor="let caneta of canetas" [ngValue]="caneta">
                {{ caneta.espessura | milimeter }}
              </option>
            </select>
            <span
              class="red-text"
              *ngIf="
                this.formData.controls.canetaSelecionada.errors?.required &&
                this.formData.controls.canetaSelecionada.touched
              "
            >
              É obrigatório escolher uma caneta
            </span>
          </div>
        </div>
      </div>

      <div>
        <label>
          <input type="checkbox" formControlName="tecido" />
          <span>Tecido</span>
        </label>
      </div>
    </div>
  </div>
</form>
