<header>
  <nav class="primary">
    <div class="nav-wrapper ">
      <a href="#!" class="brand-logo">Guia Config Plotter Recorte</a>
      <a href="#" data-target="mobile-nav-bar" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/processos" > Processos </a></li>
        <li>
          <a routerLink="/canetas"> Canetas </a>
        </li>
        <li>
          <a routerLink="/laminas"> Lâminas </a>
        </li>
        <li>
          <a routerLink="/tapetes"> Tapetes </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<ul id="mobile-nav-bar" class="sidenav">
  <li><a routerLink="/processos"> Processos </a></li>
  <li>
    <a routerLink="/canetas"> Canetas </a>
  </li>
  <li>
    <a routerLink="/laminas"> Lâminas </a>
  </li>
  <li>
    <a routerLink="/tapetes"> Tapetes </a>
  </li>
</ul>
