<nav class="top s m tertiary-container">
  <button
    type="button"
    class="circle large transparent small-margin"
    data-ui="#dialog-navigation-drawer">
    <i>menu</i>
  </button>
  <h1 class="medium-text max center-align">Guia Configuração Plotter Recorte</h1>
  <button type="button" class="circle transparent s">
    <i>add</i>
  </button>
</nav>
<dialog class="left" id="dialog-navigation-drawer">
  <header class="fixed">
    <nav>
      <button class="transparent circle large"
        data-ui="#dialog-navigation-drawer">
        <i>close</i>
      </button>
    </nav>
  </header>

  <a class="row round">
    <i>Home</i>
    <span>Processos</span>
  </a>
  <div class="small-divider"></div>
  <div class="row">Acessórios</div>
  <a class="row round">
    <i>edit</i>
    <span>Canetas</span>
  </a>
  <a class="row round">
    <i>cut</i>
    <span>Lâminas</span>
  </a>
  <a class="row round">
    <i>folder</i>
    <span>Tapetes</span>
  </a>
</dialog>
