<ul class="collapsible popout">
  <li class="initialize-dropdown" *ngFor="let lamina of laminas">
    <div class="collapsible-header row">
      <div class="col s6 center">
        <p>
          <strong>Cor: </strong>{{ lamina.cor }}
        </p>
      </div>
      <div class="col s5 center">
        <p>
          <strong>Tipo de Corte: </strong>{{ lamina.tipoCorte }}
        </p>
      </div>
      <div class="col s1 m1 l1 center valign-wrapper">
        <app-dropdown [item]="lamina" (removeEvent)="remover($event)" (editEvent)="navegarParaEdicao($event)"></app-dropdown>
      </div>
    </div>
  </li>
</ul>
