<ul class="collapsible popout">
  <li class="initialize-dropdown" *ngFor="let caneta of canetas">
    <div class="collapsible-header row">
      <div class="col s11 center">
        <p>
          <strong>Espessura: </strong>{{ caneta.espessura | milimeter }}
        </p>
      </div>
      <div class="col s1 m1 l1 center valign-wrapper">
        <app-dropdown [item]="caneta" (removeEvent)="remover($event)" (editEvent)="navegarParaEdicao($event)"></app-dropdown>
        >
      </div>
    </div>
  </li>
</ul>
