<ul class="collapsible popout">
    <li class="initialize-dropdown" *ngFor="let tapete of tapetes">
      <div class="collapsible-header row">
        <div class="col s6 center">
          <p>
            <strong>Cor: </strong>{{ tapete.cor }}
          </p>
        </div>
        <div class="col s5 center">
          <p>
            <strong>Força de Aderencia: </strong>{{ tapete.forcaAderencia }}
          </p>
        </div>
        <div class="col s1 m1 l1 center valign-wrapper">
          <app-dropdown [item]="tapete" (removeEvent)="remover($event)" (editEvent)="navegarParaEdicao($event)"></app-dropdown>
        </div>
      </div>
    </li>
  </ul>
  